name: Continuous Integration

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
           activate-environment: r_env
           environment-file: environment.yml
           python-version: 3.6
           auto-activate-base: true
    - name: execute notebooks
      shell: bash -l {0}
      run: |
        export PATH="$PATH:/usr/share/miniconda/bin"
        conda activate r_env
        jupyter nbconvert --to html --execute  *.ipynb
